body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  .input_group {
    margin-bottom: 20px;
  }
  
  .input_box {
    position: relative;
  }
  
  .input_box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .input_box .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff5100;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #007bff;
    color: #fff;
  }
  
  .row {
    margin-top: 20px;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
  .ptable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .ptable th,
  .ptable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .ptable th {
    background-color: #007bff;
    color: #fff;
  }
  
  .ptable td:last-child {
    text-align: center;
  }
  